/* screen - about */

.about {
    align-items: flex-start;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 3px;
    height: 3950px;
    width: 1920px;
  }
  
  .about .overlap-group-container {
    height: 3763px;
    margin-top: -1px;
    position: relative;
    width: 1920px;
  }
  
  .about .overlap-group {
    height: 3763px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .about .rectangle-1 {
    background-color: var(--alto);
    border: 1px solid;
    border-color: var(--dove-gray);
    height: 3745px;
    left: 0;
    position: absolute;
    top: 18px;
    width: 27px;
  }
  
  .about .rectangle-2 {
    background-color: var(--alto);
    border: 1px solid;
    border-color: var(--dove-gray);
    height: 3745px;
    left: 1893px;
    position: absolute;
    top: 18px;
    width: 27px;
  }
  
  .about .rectangle-3 {
    background-color: var(--alto);
    border: 1px solid;
    border-color: var(--dove-gray);
    height: 22px;
    left: 0;
    position: absolute;
    top: 3741px;
    width: 1920px;
  }
  
  .about .rectangle-4 {
    background-color: var(--alto);
    border: 1px solid;
    border-color: var(--dove-gray);
    height: 22px;
    left: 0;
    position: absolute;
    top: 99px;
    width: 1920px;
  }
  
  .about .rectangle-6 {
    background-color: var(--silver);
    height: 51px;
    left: 1855px;
    position: absolute;
    top: 35px;
    width: 52px;
  }
  
  .about .rectangle-7 {
    background-color: var(--silver);
    height: 51px;
    left: 1786px;
    position: absolute;
    top: 35px;
    width: 52px;
  }
  
  .about .line-1 {
    height: 40px;
    left: 1861px;
    top: 40px;
    width: 41px;
  }
  
  .about .line-2 {
    height: 39px;
    left: 1862px;
    top: 40px;
    width: 39px;
  }
  
  .about .line-3 {
    height: 39px;
    left: 1792px;
    top: 42px;
    width: 4px;
  }
  
  .about .line-4 {
    height: 39px;
    left: 1829px;
    top: 42px;
    width: 4px;
  }
  
  .about .line-5 {
    height: 4px;
    left: 1794px;
    top: 42px;
    width: 37px;
  }
  
  .about .line-6 {
    height: 4px;
    left: 1794px;
    top: 77px;
    width: 37px;
  }
  
  .about .line-7 {
    height: 4px;
    left: 1725px;
    top: 75px;
    width: 37px;
  }
  
  .about .overlap-group1 {
    align-items: flex-start;
    background: linear-gradient(179.45deg, #1c0080 52.88%, #000000 99.75%);
    display: flex;
    flex-direction: column;
    gap: 339px;
    left: 27px;
    min-height: 3620px;
    padding: 3px 73px;
    position: absolute;
    top: 121px;
    width: 1866px;
  }
  
  .about .flex-row {
    align-items: flex-end;
    display: flex;
    height: 103px;
    min-width: 1717px;
  }
  
  .about .place {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 97px;
    min-height: 101px;
    min-width: 196px;
    white-space: nowrap;
  }
  
  .about .about-1 {
    letter-spacing: 0;
    line-height: 97px;
    margin-left: 140px;
    min-height: 101px;
    min-width: 245px;
    white-space: nowrap;
  }
  
  .about .socials {
    cursor: pointer;
    letter-spacing: 0;
    line-height: 97px;
    margin-left: 162px;
    min-height: 101px;
    min-width: 342px;
    white-space: nowrap;
  }
  
  .about .other-stuff {
    align-self: flex-start;
    cursor: pointer;
    letter-spacing: 0;
    line-height: 97px;
    margin-left: 96px;
    min-height: 101px;
    white-space: nowrap;
  }
  
  .about .blue-toasts-it-is-a-r {
    align-self: center;
    letter-spacing: 0;
    line-height: 97px;
    margin-left: 2.0px;
    min-height: 596px;
    min-width: 1554px;
    white-space: nowrap;
  }
  
  .about .rectangle-62 {
    background-color: var(--white);
    height: 185px;
    width: 1920px;
  }
  
  .about .line {
    object-fit: cover;
    position: absolute;
  }
  